
.DS_Store
.DS_Store
.DS_Store
*.txt
.ipynb_checkpoints/violence-checkpoint.py
.DS_Store
.ipynb_checkpoints/lesson6-checkpoint.ipynb
.ipynb_checkpoints/Python_入门_-_数据类型与运算符-checkpoint.pdf
.ipynb_checkpoints/Think Again I How to Understand Arguments-checkpoint.pdf
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
__pycache__/lesson6demo.cpython-37.pyc
lesson6.ipynb
Untitled1.ipynb
.DS_Store
.ipynb_checkpoints/lesson6-checkpoint.ipynb
lesson6.ipynb
*.ipynb
